<head>
    <title>{{ title }}
        {% if query %}
        {{ query }}
        {% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <h3 class="headerBackground text-white p-2">
            <img class="logo-style" src="./static/logo.png">
            {{ title }}
        </h3>

    </header>
    <main>
        <div class="divRefresh">
            <a href="{{ url_for('webCrawler') }}"><i class="fa fa-bug" title="Crawl"
                    style="color: black;font-size: 30px;"></i></a>
        </div>

        <div class="container main-container">
            <form class="container" action="{{ url_for('index') }}" method="POST">
                <div class="form-group">
                    <div class="col-12 ml-15" style="display: flex;">
                        <div class="col-sm-6">
                            <input type="text" class="form-control search-widgets" id="search" name="search"
                                placeholder="Enter keyword to search">
                        </div>
                        <div class="col-sm-6">
                            <span class="col-sm-8 align-self-center">
                                <button type="submit" class="btn btn-success py-2 mt-2">Search</button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>

            {% if results %}
            <div class="container my-3">
                {% if query %}
                <h6 style="margin-left: 12px;">Search Results for {{ query }}</h6>
                {% endif %}
                <ul class="list-group" style="margin-bottom: 5%;">
                    {% for result in results %}

                    <li class="list-group-item card">
                        <a href="{{ result.url }}" style="color: #1155CC;" target="_blank">{{ result.title }}</a><br>
                        <small style="color: #009933;padding-top: 2px;">{{ result.url }}</small>
                        <p>{{ result.description }}</p>
                    </li>

                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>

<footer id="footer">
    <span class="footerStyle">
        © 2022 All Rights Reserved: UNT, Information Retrieval Fall-22, Team 25
    </span>
</footer>

</html>